.kotak {
    background: #fff;

}

.bawah {
    margin-top: 40px;
}



.kotak_g {
    background-size: 100%;
    background-color: rgb(250, 250, 250);
    width: 80%;
    height: 90px;
    margin-right: 220px;
}

.kotak_g span,
input {
    margin-top: 30px;
}

.kotak_fb {
    background: #fff;
    height: 500px;

}

.kotak_fb p {
    position: relative;
    top: 10px;
}


/* navigasi */
.icon_p li a {
    color: #000000;
}


.icon_p i {
    color: #276fbf;
}

/* akhir navigasi */
/* spiner */
.clearfix {
    margin-top: 10px;
}

.clearfix button {
    margin-top: 320px;
}

.fb_span span {
    color: rgb(182, 182, 182);
}

.progress {
    margin-top: 10px;
    height: 1px !important;
}

/* slider */

.slidecontainer {
    width: 100%;
}

.satu_span {
    margin: 12px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #ec2020;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4caf50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4caf50;
    cursor: pointer;
}

/* akhir slider */

/* btn-bootstrap-4 */

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-success {
    font-size: 12px;
    width: 140px;
    height: 40px;
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-primary {
    font-size: 12px;
    width: 144px;
    height: 40px;
    color: #6054ff;
    background-color: transparent;
    background-image: none;
    border-color: #276fbf;
    ;
}

.btn_saved {
    height: 30px;
    color: #276fbf;
    background-color: transparent;
    background-image: none;
    border-color: #276fbf;
    margin-left: 120px;
}

.register_input {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #276fbf;
    color: #276fbf;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.register_input_fb {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #276fbf;
    color: #276fbf;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    width: 100%;
}

/* .panel_phrase_form_header {
  color: #222222;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: solid 1px #e3e3e3;
  padding-bottom: 20px;
  border-width: 400px;
} */

.garis {
    border-bottom: solid 1px #e3e3e3;
}

.tbl {
    margin-top: 20px;
}

.icon {
    width: 40px;
    height: 34px;
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.all {
    margin-left: 110px;
}

/* form input */
.input {
    border-radius: 200px;
}

/* akhir form input */

/* chat */

.chat_satu {
    position: relative;
    top: 24px !important;
    left: 34px;
}

.span_satu {
    margin: 12px;
    margin-top: 2px;
}

/* akhir chat */

/* quotes */
p {
    font-family: Arial, Helvetica, sans-serif;
}

.quotes {
    position: absolute;
    top: 100px;
}

/* small_text */
.small_text {
    position: relative;
    font-size: 10px;
    top: -10px;

}

/* akhir small_text */

.grey {
    background-color: rgb(245, 245, 245);
}


/* menu class sources_b */
.sources_b {
    margin-top: 20px;
}

/* akhir menu sources_b */


.fa-star h4 i {
    color: #28a745;
}

/* menu notification*/
.sources_c {
    margin-top: 20px;

}




/* button danger */
.btn-success {
    width: 80px;
    height: 40px;
}

.btn-primary {
    width: 80px;
    height: 40px;
}

.btn-outline-danger {
    width: 130px;
    height: 40px;
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

/* akhir  button danger*/

/* form */
.form {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #3426ff;
    color: #0fb36c;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    width: 100%;
}

.form_biasa {
    border-radius: 5px;
}

/* akhir form */

.active {
    border-top: solid #28a745;
    border-width: 0 0 0 0;
    /* color: #28a745; */
}

.active li a {
    color: #28a745;
}

.active a:hover {
    color: #0fb36c;
}


/* menu report */

.report {
    border: solid 1px #4caf50;
    border-radius: 5px;
}

/*  */


/* input_angka */
.input_angka {
    position: relative;
    top: -20px;
    right: 20px;
}

/* input_angka */