@import url(login/lost-password.css);
@import url(case-study/case-study.css);

@font-face{
	font-family:'BebasNeueRegular';
	src:url("../fonts/bebasneue-webfont.eot");
	src:url("../fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/bebasneue-webfont.woff") format("woff"),url("../fonts/bebasneue-webfont.ttf") format("truetype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family: 'BreuerCondensedBold';
	src: url('../fonts/typetrust_-_breuercondensed-bold-webfont.eot');
	src: url('../fonts/typetrust_-_breuercondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/typetrust_-_breuercondensed-bold-webfont.woff') format('woff'),
	url('../fonts/typetrust_-_breuercondensed-bold-webfont.ttf') format('truetype'),
	url('../fonts/typetrust_-_breuercondensed-bold-webfont.svg#BreuerCondensed500') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BreuerCondensedRegular';
	src: url('../fonts/typetrust_-_breuercondensed-regular-webfont.eot');
	src: url('../fonts/typetrust_-_breuercondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/typetrust_-_breuercondensed-regular-webfont.woff') format('woff'),
	url('../fonts/typetrust_-_breuercondensed-regular-webfont.ttf') format('truetype'),
	url('../fonts/typetrust_-_breuercondensed-regular-webfont.svg#BreuerCondensedRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'DosisMedium';
	src: url('../fonts/dosis-medium-webfont.eot');
	src: url('../fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/dosis-medium-webfont.woff') format('woff'),
	url('../fonts/dosis-medium-webfont.ttf') format('truetype'),
	url('../fonts/dosis-medium-webfont.svg#DosisMedium') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family:'ProximaNovaRegular';
	src: url('../fonts/ProximaNova-Regular.otf') format("opentype");
}

@font-face {
	font-family:'ProximaNovaRegularItalic';
	src: url('../fonts/ProximaNova-RegularItalic.otf') format("opentype");
}


@font-face {
	font-family:'ProximaNovaLight';
	src: url('../fontsProximaNova-Light.otf') format("opentype");
}

@font-face {
	font-family:'ProximaNovaBold';
	src: url('../fonts/ProximaNova-bold.otf') format("opentype");
}

@font-face {
	font-family:'ProximaNovaLightItalic';
	src: url('../fonts/ProximaNova-LightItalic.otf') format("opentype");
}


@font-face {
	font-family:'proximanovabold';
	src:url("../fonts/proximanova-bold-webfont.eot");
	src:url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/proximanova-bold-webfont.woff") format("woff"),
	url("../fonts/proximanova-bold-webfont.ttf") format("truetype"),
	url("../fonts/proximanova-bold-webfont.svg#proximanovabold") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:'proximanovalight';
	src:url("../fonts/proximanova-light-webfont.eot");
	src:url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/proximanova-light-webfont.woff") format("woff"),
	url("../fonts/proximanova-light-webfont.ttf") format("truetype"),
	url("../fonts/proximanova-light-webfont.svg#proximanovalight") format("svg");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:'proximanovaregular';
	src:url("../fonts/proximanova-regular-webfont.eot");
	src:url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/proximanova-regular-webfont.woff") format("woff"),
	url("../fonts/proximanova-regular-webfont.ttf") format("truetype"),
	url("../fonts/proximanova-regular-webfont.svg#proximanovaregular") format("svg");
	font-weight:normal;
	font-style:normal
}


@font-face {
	font-family: 'SanskritHelveticaRegular';
	src: url('../fonts/sanskrit_helvetica-webfont.eot');
	src: url('../fonts/sanskrit_helvetica-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sanskrit_helvetica-webfont.woff') format('woff'),
	url('../fonts/sanskrit_helvetica-webfont.ttf') format('truetype'),
	url('../fonts/sanskrit_helvetica-webfont.svg#SanskritHelveticaRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'SanskritHelveticaOblique';
	src: url('../fonts/sanskrit_helvetica_oblique-webfont.eot');
	src: url('../fonts/sanskrit_helvetica_oblique-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sanskrit_helvetica_oblique-webfont.woff') format('woff'),
	url('../fonts/sanskrit_helvetica_oblique-webfont.ttf') format('truetype'),
	url('../fonts/sanskrit_helvetica_oblique-webfont.svg#SanskritHelveticaOblique') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'SanskritHelveticaBold';
	src: url('../fonts/sanskrit_helvetica_bold-webfont.eot');
	src: url('../fonts/sanskrit_helvetica_bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sanskrit_helvetica_bold-webfont.woff') format('woff'),
	url('../fonts/sanskrit_helvetica_bold-webfont.ttf') format('truetype'),
	url('../fonts/sanskrit_helvetica_bold-webfont.svg#SanskritHelveticaBold') format('svg');
	font-weight: normal;
	font-style: normal;

}



@font-face{
	font-family:"HelveticaNeueW01-Thin";
	src:url("../fonts/helvetica/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
	src:url("../fonts/helvetica/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"),url("../fonts/helvetica/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),url("../fonts/helvetica/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"),url("../fonts/helvetica/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}

@font-face{
	font-family:"HelveticaNeueW01-45Ligh";
	src:url("../fonts/helvetica/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
	src:url("../fonts/helvetica/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("../fonts/helvetica/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("../fonts/helvetica/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("../fonts/helvetica/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

@font-face{
	font-family:"HelveticaNeueW01-75Bold";
	src:url("../fonts/helvetica/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix");
	src:url("../fonts/helvetica/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix") format("eot"),url("../fonts/helvetica/4a9c62ab-b359-4081-8383-a0d1cdebd111.woff") format("woff"),url("../fonts/helvetica/db5f9ba6-05a4-433a-9461-0a6f257a0c3a.ttf") format("truetype"),url("../fonts/helvetica/25e09910-ffc3-4fc4-b0d1-db9a95dface8.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8") format("svg");
}


b, strong {
	font-weight: 500;
}


.landing_bg {
	background: url("../img/landing-page/beta_bottom_bg.png") repeat-x scroll 0 bottom, url("../img/landing-page/beta_main_bg.jpg") no-repeat scroll center top, url("../img/landing-page/beta_pattern_bg.jpg") repeat scroll 0 0 transparent;
}

.btn-cta i, .btn-outline i {
	padding-right: 10px;
}


/*** znaczniki ***/

h1,h2,h3,h4,img {
	margin:0px;
	padding:0px;
	border:0px;
}

a:link {
	text-decoration: none;
	background:none;
}

a:visited {
	text-decoration: none;
	background:none;
}

a:hover {
	text-decoration:underline;
	background:none;
}

a:active {
	text-decoration: none;
	background:none;
}

img {border:none;}

.pt10 { padding-top: 10px;}
.pt20 { padding-top: 20px;}
.pt30 { padding-top: 30px;}

.pb10 { padding-bottom: 10px;}
.pb20 { padding-bottom: 20px;}
.pb30 { padding-bottom: 30px;}

.pr10 { padding-right: 10px;}
.pr20 { padding-right: 20px;}
.pr30 { padding-right: 30px;}

.pl10 { padding-left: 10px;}
.pl20 { padding-left: 20px;}
.pl30 { padding-left: 30px;}


.mt10 { margin-top: 10px;}
.mt20 { margin-top: 20px;}
.mt30 { margin-top: 30px;}

.mb10 { margin-bottom: 10px;}
.mb20 { margin-bottom: 20px;}
.mb30 { margin-bottom: 30px;}

.mr10 { margin-right: 10px;}
.mr20 { margin-right: 20px;}
.mr30 { margin-right: 30px;}

.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}
.ml30 { margin-left: 30px;}

.small-grey-link {
	font-size:13px;
	color: #898b96;
}
.small-grey-link i {
	padding-right: 5px;
	color: #0FB36C;
}

.center-block {
	margin: auto;
	float: none !important;
}

.btn-trial {
	background: #0FB36C !important;
	border-radius: 4px;
	padding: 12px 30px;
	text-transform: uppercase;
	font-weight: 500;
	display: table;
	margin: 0px auto 30px auto;
	color: #fff !important;
	text-align: center;
	font-size: 12px;
	float: none;
	clear: both;
}

.btn-trial:hover {
	background-color: #1fbb99 !important;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
}

/*** menu ***/


.globNav {
	height: 18px;
	font-family: 'Oswald',sans-serif;
	font-size: 13px;
	background:none;
	display: block;
	color:#f1f1f1;
	text-decoration: none;
	text-transform:uppercase;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
	float: left;
	border-right:solid #111111 1px;
}

.globitem {
	height: 18px;
	font: normal 1em/1.3 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background:none;
	display: block;
	color:#f1f1f1;
	text-decoration: none;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
	font-weight:bold;
	float: left;
	border-right:solid #111111 1px;
}

.globitem a {
	color:#ffffff;
	text-decoration:none;
}


.globitem a:hover {
	color:#ffffff;
}


.globNav a {
	color:#ffffff;
	text-decoration:none;
}

.globNav a:hover {
	border-bottom:solid #0FB36C 3px;
	color:#ffffff;
	padding-bottom:5px;
	text-decoration:none;
}

.globSelected a {
	font-family: 'Oswald',sans-serif;
	color:#ffffff;
	text-transform:uppercase;
	border-bottom:solid 3px #0FB36C;
	text-decoration:none;
	padding-bottom:2px;
}

.globSelected a:hover {
	border-bottom:solid #0FB36C 3px;
	color:#ffffff;
	padding-bottom:5px;
	text-decoration:none;
}

.globSelected {
	font-family: 'Oswald',sans-serif;
	height:18px;
	background:none;
	display: block;
	color:#f1f1f1;
	text-decoration: none;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
	float: left;
	border-right:solid #111111 1px;
}


.register-btn {
	display: inline-block;
	margin-left: .1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: .30em .55em .40em;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	line-height: 1;
	font: normal 0.8em/1.3 'Helvetica Neue', Arial, Helvetica, sans-serif;
	vertical-align: .1em;
	background-color: #ffffff;
	color: #333;
	text-shadow: none;
}

#register_area a {
	margin-left:10px;
}

#register_area img {
	height:25px;
}

.badge-new {
	display: inline-block;
	margin-left: .1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: .15em .4em .25em;
	background-color: #E71E17;
	color: #FFF;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	line-height: 1;
	font-size: .75em;
	vertical-align: .1em;
}

.badge-new {
	background-color: #665E26;
	color: #FFDE00;
}

.badge-new {
	background-color: #FFDE00;
	color: #333;
	text-shadow: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
}



/*** body ***/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #F1F1F3;
	/*	background-image:url(images/bg.png);*/
	-webkit-font-smoothing: antialiased;
	overflow-x:hidden;
}

#site {
	width:100%;
	overflow: hidden;
	margin: 0 auto;
	background-color:#ffffff;
}

.rainbow {
	width:100%;
	margin: 0 auto;
	background:url("../img/rainbow_main.png") repeat;
	height:5px;
}

.top_under {
	width:100%; height:50px;
	background-color:#000000;
}

.top_fixed {
	position:fixed; z-index:10; width:100%; height:50px;
}

#top {
	margin-top:0px;
	padding-top:0px;
	height:50px;
	background-color:#070008;
	/*	background-image:url(../img/header_bg.png);*/
	background-repeat:repeat-x;
	text-align:center;
	border-bottom:solid #0f0f0f 1px;
}

#menu_holder {
	color:#074444;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-style:normal;
	letter-spacing:0px;
	margin:0 auto;
	text-decoration:none;
	width:970px;
	word-spacing:normal;
}

#logo_holder {
	display:inline;
	float:left;
	height:50px;
	width:100px;
}

#logo {
	padding-top:0px;
	margin-left:0px;
}

#mainmenu {
	display:inline;
	float:left;
	height:40px;
	padding-top:10px;
	width:870px;
}

#switch_version {
	display:inline-block;
	float:right;
	position:relative;
}

#switch_version #current_version {
	width:40px;
	height:24px;
	background:url('../img/flags/24/us.png') 0 0 no-repeat;
	margin: 4px 0px 0px 15px;
	cursor: pointer;
}

#switch_version #current_version .current_version_arrow {
	width:40px;
	height:24px;
	background:url('../img/arrow_down.png') 30px 6px no-repeat;
}

#switch_version #select_version {
	position:absolute;
	display:none;
	margin: 5px 0px 0px -60px;
	padding: 5px 0;
	text-align:left;
}

#switch_version #select_version ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

#switch_version #select_version ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

#switch_version #select_version ul li a{
	display: block;
	padding: 0px 10px 0px 37px;
	width:80px;
	height:36px;
	line-height:36px;
	background-position: 8px 6px;
	background-repeat: no-repeat;
	background-color: #fff;
	color: #000;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 10px;
	text-decoration: none;
}

#switch_version #select_version ul li a:hover{
	background-color: #0FB36C;
	text-decoration: none;
}

#switch_version #select_version ul li #select_version_net{
	background-image:url('../img/flags/24/us.png');
}

#switch_version #select_version ul li #select_version_pl{
	background-image:url('../img/flags/24/pl.png');
}

#switch_version #select_version ul li #select_version_id{
	background-image:url('../img/flags/24/id.png');
}

#register_area {
	display:inline;
	float:left;
	height:40px;
	padding-top:10px;
	width:120px;
}

.reg_body {
	background-color:#f6f6f6;
}

.reg_form {
	margin: 0 auto 15px;
	padding:30px;
	padding-top:30px;
	position: relative;
	width:425px;
	background-color:#FFFFFF;
	box-sizing: border-box !important;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 13px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 13px rgba(0,0,0,0.1);
	box-shadow: 0 0 13px rgba(0,0,0,0.1);
}

.reg_form_input {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font-family: Arial,sans-serif;
	font-weight: 300;
	font-style: normal;
	display: block;
	width: 100%;
	height: 39px;
	margin: 0 0 10px;
	padding: 0 0 0 16px;
	border: 1px solid #d3d3d3 ;
	background-color: #fff;
	font-size: 16px;
	color: #000;

}

.reg_form_user {
	margin-top:20px;
	color:#222222;
	font-size:14px;
	font-weight:normal;
}

.reg_form a {
	font-size:12px;
	font-weight:normal;
	color:#0e9894;
}

.reg_form .error {
	text-align: left;
	margin-bottom: 10px;
}

.reg_logo {
	margin-top:20px;
}

.reg_logo img {
	width:130px;
}

.reg_headline {
	color:#444444;
	font-family:Arial,sans-serif;
	font-weight: 700;
	font-size:40px;
	letter-spacing:-1px;
	margin-bottom:10px;
	margin-top:20px;
}

.reg_subheadline {
	font-family:Arial,sans-serif;
	font-size: 17px;;
	color: #999999;
	font-weight:100;
	line-height: 25px;
	letter-spacing:0px;
	margin-bottom:15px;
	padding-bottom:7px;
}

.reg_terms {
	font-family:Arial,sans-serif;
	font-size: 11px;;
	color: #999999;
	font-weight:100;
	line-height: 25px;
	letter-spacing:0px;
	margin-top:10px;
	text-align: left;
	padding-top: 20px;
}

.reg_terms #accept_terms, .reg_terms #accept_processing_data, .reg_terms #accept_receive_commercial_informations {
	float: left;
	margin-top: 7px;
}

.reg_terms label, .reg_terms .accept_processing_data_short, .reg_terms .accept_receive_commercial_informations_short{
	float: left;
	width: 90%;
	line-height: 17px;
	margin: 0 0 15px 15px;
}

/* iPhone 5 Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
	.reg_terms label, .reg_terms .accept_processing_data_short, .reg_terms .accept_receive_commercial_informations_short{
		width: 85% !important;
	}
}



.btn_green {
	background-color: #5FC661 !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff !important;
	font-family: sans-serif;
	letter-spacing:0px;
	font-size: 15px;
	text-transform:uppercase;
	font-weight:100;
	padding-top:14px;
	padding-bottom:14px;
	text-align: center;
	text-decoration: none;
	cursor:pointer;
	box-shadow:none !important;
	border: 0 none !important;
	width: 423px;
}

.btn_green:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#85d387 !important;
}

.btn_facebook_register{
	background: url('../img/icons/services/facebook-register-icon.png') 6% 8px no-repeat #3b5998;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff !important;
	font-family: sans-serif;
	letter-spacing:0px;
	font-size: 15px;
	text-transform:uppercase;
	font-weight:100;
	padding-top:14px;
	padding-bottom:14px;
	text-align: center;
	text-decoration: none;
	cursor:pointer;
	box-shadow:none !important;
	border: 0 none !important;
	width: 423px;
	margin-top: 10px;
}

.register_button_or {
	font-size: 12px;
	color: #999;
	margin-top: 15px;
}

.btn_facebook_login{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff !important;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: 500 !important;
	font-family: 'Roboto', sans-serif;
	background: #3a579a;
	text-transform: uppercase;
	padding: 11px 11px 11px;
	text-align: right;
	text-decoration: none;
	cursor: pointer;
	box-shadow: none !important;
	border: 0 none !important;
	margin-top: -10px;
	width: 100% !important;
	text-align: center;
}

.testimonials {
	color:#ffffff !important;
	background-color:#000000 !important;
}

.testimonials_quote {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 8em;
	font-weight:bold;
	color:#222;
}

.testimonials_text {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 13px;


	color:#222;
}

.testimonials_meta {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	color:#111111;
	margin-top:20px;
}

.main_heading {
	color: #ffffff;
	font-size: 32px;
	font-weight: 300;
	line-height: 38px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
}

.main_feature {
	/*background:url("../img/mainbg.jpg") no-repeat scroll center top transparent;*/
	background-color:#000;
	height:340px;
	padding-top:0px;
	margin:0 auto;
	background:url("../img/features/mainbg.jpg") no-repeat scroll center top, url("../img/features/mainbg_r.png") repeat scroll 0 0 transparent;
}

.main_feature_long {
	/*background:url("../img/mainbg.jpg") no-repeat scroll center top transparent;*/
	background-color:#000;
	height:410px;
	padding-top:25px;
	margin:0 auto;
	background:url("../img/features/mainbg_long.jpg") repeat-x scroll center top, url("../img/features/mainbg_long_r.png") repeat scroll 0 0 transparent;
}

.main_feature_pic {
	/*background:url("../img/mainbg.jpg") no-repeat scroll center top transparent;*/
	background-color:#000;
	background-size: cover;
	background-image: url("../img/features/mainsite_bg.jpg");
	background-position: center center;
	position: relative;
	height:450px;
	padding-top:40px;
}

.mainsite_headline {
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	font-size:48px;
	-webkit-font-smoothing: antialiased!important;
	color:#FFF;
	letter-spacing:-1px;
	margin-bottom: 14px;
}

.mainsite_headtext {
	font-size: 18px;
	line-height: 26px;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	color: #f9f9f9;
	padding-top:10px;
	margin: 0 auto;
	width:600px;
}

.header_small_btn {
	padding:2px;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	font-family: 'Oswald',helvetica,arial,sans-serif;
	font-size:11px;
	text-transform:uppercase;
	color:#000;
	background-color:#fff !important;
	vertical-align:super;
	margin-right:10px;
}

.header_small_btn:hover {
	text-decoration:none !important;
}

.mainsite_featpic {
	margin: 0 auto;
	width:700px;
	padding-top:30px;
}

.mainsite_btn {
	margin-top:20px;
}

.mainsite_btn a {
	background-color: #0FB36C !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 0px solid #730445;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform:uppercase;
	line-height: 1;
	margin: 0;
	padding: 14px 20px 14px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
	border-bottom-color: #136c61;
	border-bottom-width:3px;
}


.mainsite_btn a:hover {
	background-color:#10ccab !important;;
	color:#FFFFFF !important;

}

.mainsite_btn_light a  {
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	border:2px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	padding:12px;
	margin:0px;
	text-decoration:none;
	letter-spacing:0px;
}

.mainsite_btn_light a:hover {
	color:#30b9f9;
	border:2px solid #30b9f9;
}

.sub_header {
	color: #222;
	font-size:34px;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	text-align: center;
}

.sub_header_meta {
	margin:0 auto;
	font-family: 'ProximaNovaLight';
	font-size: 18px;
	line-height: 26px;
	color: #999999;
	text-align: center;
	margin-bottom:65px;
}

.mainsite_quote_author {
	margin-top:10px;
	font-size:14px;
	color:#aaa;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
}

.mainsite_quote_text {
	font-size:14px;
	color:#777;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	line-height:21px;
}

.c_btn {
	background-color: #be3376 !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 1px solid #730445;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 11px 17px 11px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
}

.c_btn:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#d93194 !important;

}

.c_btn_blue {
	moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	background: #0FB36C  !important;
	color: #fff !important;
	font-size: 12px;
	padding: 10px 24px;
	display: inline-block;
	text-decoration:none;
	text-align: center;
	cursor: pointer;
	pointer-events: auto;
	letter-spacing: 0;
	border: none;
	font-weight: 500;
	font-size: 12px;
}

.c_btn_blue_tabs{
	position: absolute;
	top:8px;
	right: 20px;
}

.c_btn_red {
	border: solid 1px #e82e56 !important;
	color: #e82e56 !important;
	background: none !important;
	font-size: 12px;
}

.c_btn_red:hover {
	background: #e82e56 !important;
	color: #fff !important;
}

.price_table_sign_btn {
	margin-top: 7px;
	margin-left:12px;
	margin-right:12px;
	margin-bottom:30px;
}

.price_table_sign_btn a {
	background-color: #0FB36C;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 0px;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	margin: 20px 0 0 0;
	padding: 11px 17px 11px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
	width: 82%;
}

.price_table_sign_btn a:hover {
	text-decoration: none;
	background-color: #05c170 !important;
	color: #fff !important;
	transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
}


.grey_btn a {
	color: #333333 !important;
	text-shadow:none !important;
	border: 1px solid #e1e1e1 !important;
	background-color: #f1f1f1 !important;
}

.price_header {
	margin-bottom:0px;
	text-align:center;
	margin-top:35px;
}
.price_header h1 {
	color: #222;
	font-size:26px;
	font-weight:300;
}

.price_header_meta {
	font-size: 18px;
	font-weight:300;
	line-height: 26px;
	color: #999999;
	text-align:center;
	margin-bottom:10px;
}

.c_btn_grey {
	background-color: #efefef !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 1px solid #b8b8b8;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #666666;
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	letter-spacing:0px;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 11px 17px 11px;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
}

.c_btn_grey:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#2fdcd8 !important;
}

.c_btn_blue b {

}



.c_btn_b {
	background-color: #be3376 !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 1px solid #730445;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 11px 17px 11px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
}

.c_btn_b:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#d93194 !important;

}

.feature_controls {
	/*background-color:#E9E9E9;*/
	height:10px;
	margin:0 auto;
}

.centralsite {
	margin:0 auto;
	text-decoration:none;
	word-spacing:normal;
}

.triangle_line {
	background: url("../img/landing-page/bottom_bg.png") repeat-x scroll 0 bottom, url("../img/mainbg.jpg") no-repeat scroll center top, #000000;
}

.feature_headline {
	margin-top:10px;
	color: #ffffff;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
	font-size: 40px;
	font-weight: 300;
	line-height: 38px;
}

.feature_text {
	margin-top:15px;
	font-family:Helvetica,Arial,Tahoma,sans-serif;
	font-size:21px;
	line-height:20px;
	color:#f1f1f1;
}

.feature_text_main {
	margin-top:0px;
	font-family:"Myriad Pro",Helvetica,Arial,Tahoma,sans-serif;
	font-size:16px;
	line-height:18px;
	color:#f1f1f1;
}

.feature_btns {
	margin-top:20px;
	vertical-align:middle;
	margin-bottom:30px;
	height:50px;
}

.feature_btns img {
	margin-right:10px;
}

.feature_option {
	height:50px;
	width: 180px;
	margin-right:10px;
	display:inline;
	float:left;
}

.feature_option_text {
	height:30px;
	padding-top:10px;
	padding-left:15px;
	width:200px;
	display:inline;
	float:left;
	color:#f071f1;
	font-family:"Myriad Pro",Helvetica,Arial,Tahoma,sans-serif;
	font-size:18px;
	line-height:1.4em;
	text-align:left;
}

.feature_option img {
	margin-left:0px;
}

.headline_fanpage {
	color: #222222 !important;
	font-family: 'DosisMedium',arial,helvetica,sans-serif;
	font-size: 18px;
	font-weight:normal;
	text-shadow: -1px -1px 0 rgba(244, 244, 244, 0.1);
}

.headline_fanpage a {
	color: #222222 !important;
	font-family: 'DosisMedium',arial,helvetica,sans-serif;
	font-size: 18px;
	font-weight:normal;
	text-shadow: -1px -1px 0 rgba(244, 244, 244, 0.1);
}

.features {

}

.feats {
	color:#525252;
	margin-top:15px;
}
.feat_picture img {
	height: 30px;
	width: auto;
	margin-bottom: 20px;
}

.feat_row {
	margin-bottom:30px;
}

.feat_row_testimonials {
	margin-bottom:30px;
	margin-top:100px
}

.headline {
	border-bottom: 1px dotted #DEDEDE;
	/*
	color:#222222;
	font-size: 1.8em;
	letter-spacing: -1px;
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans",Arial,Verdana,sans-serif;
	font-size:18px;
	line-height:1.4em;
	*/
	color: #222222 !important;
	font-family: 'Open Sans',arial,helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;

	margin-bottom:12px;
}

.about_text {
	color: #666666;
	font: 16px Arial,FreeSans,Helvetica,Verdana,sans-serif;
	font-weight: 300;
	line-height: 1.4;
	text-align:justify;
}

p.about_text { text-align:center; color:#666666; font-style: italic; }

.feat_small_logos {
	margin-top:10px;
}

.feat_small_logos img {
	margin-right:7px;
}

.sidebar {
	margin-top:20px;
}

.microblogs {
	margin-top:2px;
}

.microblogs a {
	margin-right:6px;
}

.newsletter {
	margin-bottom:25px;
}

.newsletter_input {
	background-color:#F3F3F3;
	border-top:1px solid #CCC;
	border-bottom:1px solid #fff;
	border-left:1px solid #CCC;
	border-right:1px solid #fff;
	border-radius:5px;
	color:#646F73;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	height:24px;
	padding:3px;
	width:150px;
	vertical-align:middle;
}

.newsletter_text {
	color:#646F73;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}

.newsletter_send_btn {
	vertical-align:middle;
	margin-left:5px;
}

.news {

}

.single_news {
	margin-bottom:20px;
}

.news_title {
	color:#600262;
	font-family:"Myriad Pro",Helvetica,Arial,Tahoma,sans-serif;
	font-size:14px;
	line-height:1.4em;
	margin-bottom:1px;
}

.news_text {
	color:#525252;
	font-size:12px;
}

.news_meta {
	color:#600262;
	font-size:10px;
	margin-top:3px;
}


.clients {
	margin-top:15px;
}

.clients_heading {
	font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
	color:#222222;
	margin-left:5px;
}

.infoBox {
	width:300px;
	height:500px;
	float:left;
	display:inline;
	font-family: Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	color:#999999;
	letter-spacing:0px;
	word-spacing:normal;
	line-height:20px;
	margin-left:20px;
}


.input {

	background-color:#FAFBF3;
	border:2px solid #00CCCC;
	font-family:'trebuchet ms';
	font-size:12px;
	margin-bottom:3px;
	padding:1px 2px;

}

.err_field {color:red; font-size:10px; }
p.emphasize {font-style:italic; font-size:10px; color:#666666; }


.infoMessage {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	background-color: #f6f6f6;
	border: 3px solid #cfcfcf;
	color: #525252;
	width: 930px;
	text-align:center;
}


.infoMessageC {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	background-color: #f6f6f6;
	border: 3px solid #cfcfcf;
	color: #525252;
	width: 930px;
	text-align:center;
}

.infoMessageE {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	background-color: #f6f6f6;
	border: 3px solid #cfcfcf;
	color: #525252;
	width: 930px;
	text-align:center;

}

.infoMessageQ {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	background-color: #f6f6f6;
	border: 3px solid #cfcfcf;
	color: #525252;
	width: 930px;
	text-align:center;
}

.infoMessageI {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius: 10px;
	background-color: #eceef5;
	border: 3px solid #cad4e7;
	color: #999999;
	width: 930px;
	text-align:center;
}

.featured_in_small {
	font-size:10px;
	font-family:"Arial","Helvetica",sans-serif;
	text-transform:uppercase;
	color:#666666;
	margin-bottom:20px;
}


.footer_panel {
	background-color:#000000;
	height:200px;
	padding:15px;
	border-top: 5px solid #eeeeee;
}

#footer {
	width:100%;
	margin: 0 auto;
	background-color:#121212;
	margin-top: -2px;
}

#footer a {
	color:#a4a4a4;
	font-size:10px;
	text-transform:uppercase;
}

#footer a:hover {
	color:#ffffff;
	font-size:10px;
	text-transform:uppercase;
	text-decoration:none;
}

#footer_menu {
	width:970px; min-height:270px; margin:0 auto; position: relative;
}

.footer_menu_in {
	margin:2px 0 5px 0;
	width:100%;
}

.footer_menu_in tr td { vertical-align: top; text-align: left; }

.footer_item {

	padding-bottom:5px;
}

.footer_item_head {
	color:#0DB98F;
	margin-top:25px;
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom:25px;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
}

.footer_item a{
	color:#888888;
}

a.banner_ue{
	position:absolute;
	top:155px;
	left:0px;
	display: block;
	width: 446px;
	height: 66px;
	background-image:url(../img/ue-banner-en.png);
	background-position:0px 0px;
	background-repeat: no-repeat;
}

.cookiePolicy{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	text-align:center;
	background:#fff;
	z-index:2147483635;
	-webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);
	box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1)
}

.cookiePolicy p{
	color:#666;
	font-size:12px;
	line-height:42px;
	height:0;
}

.cookiePolicy p a{
	color:#8D3D8F;
}

.cookiePolicy span{
	position:absolute;
	top:12px;
	width:18px;
	height:18px;
	margin-left:10px;
	background-image:url(../img/close-btn.png);
	background-position:0px 0px;
	background-repeat: no-repeat;
	display:inline-block;
	cursor:pointer;
	opacity:0.5;
}

.cookiePolicy span:hover{
	opacity:1;
}
/* Easy Slider */
.slider_buttons {
	text-align:right;
	width:100%;
}

.slider_buttons_holder img {
	margin-top:2px;
}

.slider_buttons_holder {
	background-image:url(../img/buttons_holder.png);
	width:50px;
	height:15px;
	float:right;
	text-align:center;
}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}

#slider li{
	width:970px;
	height:325px;
	overflow:hidden;
}

span #prevBtn{

}

span #nextBtn{

}

/* // Easy Slider */

.registry_heading {
	border-bottom:1px solid #E3E3E3;
	color:#444444;
	font-size:22px;
	font-weight: 300;
	letter-spacing:0px;
	margin-bottom:15px;
	padding-bottom:15px;
}

.registry_heading span {
	color:#bbbbbb;
	font-weight:normal;
	font-size:18px;
	letter-spacing:-1px;
}

.registry_form {
	margin:15px;
	margin-left:25px;
	margin-right:25px;
}

.registry_form_personal {
	color:#222222;
	font-size:14px;
	font-weight:normal;
	margin-bottom:30px;
}

.registry_form tr {
	height:50px;
}

.register_input {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff ;
	border: 1px solid #a1aba7 ;
	color: #0FB36C ;
	font-size: 14px;
	margin: 0;
	padding: 10px;
	width: 61%;
}



.login_input {
	-moz-border-radius:5px;
	border-radius:5px;

	border: 1px solid #a4c3ca;
	background: #f9f9f9;
	-moz-border-radius: 50px 3px 3px 50px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);


	color:#555555;
	font-size:14px;
	font-weight:600;
	outline: medium none;
	margin:0;
	padding:8px;
	width:250px;
	font-family:'HelveticaNeueW01-45Ligh',sans-serif;
}

.login_input:focus {
	border:1px solid #0FB36C;
	color:#999999;
	background: none repeat scroll 0 0 #fefefe;
}


.registry_form_user {
	margin-top:20px;
	color:#222222;
	font-size:14px;
	font-weight:normal;
}

.registry_form_rules {
	font-size:12px;
	color:#999;
}

.registry_form_rules a {
	font-size:12px;
	font-weight:normal;
	color:#5B025C;
}

.register_btn {
	margin-top:20px;
	text-align:left;
}

.registry_sidebar {
	margin-top:20px;
}

.registry_feat {
	padding:10px;
}

.registry_feat_title {
	margin-top:30px;
	font-size:24px;
	color:#111111;
	font-weight:700;
}

.registry_feat_meta {
	font-size:16px;
	color:#888888;
	font-weight:400;
}

.registry_form_personal_submeta {
	font-size: 11px;
	color: #89919A;
	font-weight: 400;
	padding-top: 4px;
}

.login_form {
	margin:40px 0 40px 0;
	width:300px;
	padding:20px;
	padding-bottom:25px;
	background-color:#FFFFFF;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 13px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 13px rgba(0,0,0,0.1);
	box-shadow: 0 0 13px rgba(0,0,0,0.1);
}

.login_form input[type=checkbox] { vertical-align:middle; }

.login_form_user {
	margin-top:20px;
	color:#222222;
	font-size:14px;
	font-weight:normal;
}

.login_form a {
	font-size:12px;
	font-weight:normal;
	color:#0e9894;
}


.login_title {
	border-bottom:1px solid #E3E3E3;
	color:#444444;
	font-family:Arial,Tahoma,Verdana,sans-serif,Georgia;
	font-size:22px;
	font-weight:bold;
	letter-spacing:-1px;
	margin-bottom:10px;
	padding-bottom:7px;
}

.login_btn {
	margin-top:20px;

}

.login_btn .c_btn_blue, .login_btn .btn_facebook_login {
	width: 100% !important;
}

.login_form_user tr {
	height:40px;
}

.error {
	margin-top:10px;
	text-align:center;
	font-size:12px;
	color:#B51A73;
}

#sourceInfoUrlResults {
	font-size:14px;
}

#sourceInfoAuthorResults {
	font-size:14px;
}

.main_feature_subpage {
	background-color:#f4f4f4;
	margin:0 auto;
	margin-top:0px;
}

.price_table_header img {
	height:10px;
}

.features_subpage {
	border-top:#57406C solid 3px;
	min-height:600px;
}

.subpage_headline {
	border-bottom: 1px solid #BCBCBC;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.03em;
	line-height: 36px;
	color:#333;
}

.subpage_headline h1{
	margin:0px;
	padding:0px;
}

.price_table * {
	box-sizing: border-box !important;
}

.price_table {
	color: #DDDDDD;
	padding-top:5px;
	margin:5px 0 30px 0;
}

body.account-upgrade .price_table tr td {
	padding-right: 10px;
}
body.account-upgrade .price_table tr td:last-child {
	padding-right:0;
}
.price_table_netto {
	color:#999;
	font-size:17px;
	text-align:center;
	line-height: 32px;
}

.price_table_netto p {
	padding-bottom: 30px;
}

.price_table_subheader {
	text-align:center;
	padding-top:25px;
}

.price_table_h {
	text-align:center;
	margin-left:12px;
	margin-right:12px;
}

.price_table_h_personal {
	color: #999;
	font-size: 12px;
	font-weight: bold;
}

.price_table_h_professional {
	color: #999;
	font-size: 12px;
	font-weight: 500;
}

.price_table_h_sub {
	color: #232323;
	font-size: 22px;
	font-weight: bold;
}

.price_table_head {
	margin-left:12px;
	margin-right:12px;
	padding-top:12px;
}

.price_table_head_personal {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
}

.price_table_head_professional {
	color: #AE00AE;
	font-size: 12px;
	font-weight: bold;
}

.price_table_head_sub {
	color: #232323;
	font-size: 22px;
	font-weight: bold;
	margin-bottom:10px;
}


.price_table_head_sub span {
	color: #B700BB;
}

.price_table_head_main {
	color: #B700BB;
	font-size: 28px;
	letter-spacing: -1.5px;
	font-weight: bold;
	font-style:italic;
}

.price_table_head_main span {
	color: #666666;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing:-1px;
	font-weight:normal;
	margin-left:5px;
}

.price_table_header {
	color: #efefef;
	padding-top:0px;
	text-align:center;
}

.price_table_item {
	margin-left: 0px;
	margin-right: 0;
	padding: 5px 20px;
	font-size:13px;
	font-weight: 400;
	letter-spacing: -0.1pt;
	color: #555;
}

.price_table_item:nth-child(2n+2) {
	background: #f9f9f9;
}

.price_table_item:hover {
	cursor: default;
}

.price_table_item img {
	vertical-align:middle;
	margin-right:10px;
}

div.panel_monitored_keywords .price_table_item i {
	display: none;
}

.price_table_item i{
	color: #555;
	padding-right: 25px;
	font-size:14px !important;
	width:20px;
}
.price_table_item .more {
	color: #b3b3b3;
	font-size: 12px;
	padding: 8px 12px;
	display: block;
	margin: 16px auto 0 auto;
	text-decoration: underline !important;
}

.price_table_elem {
	margin-left:12px;
	margin-right:12px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	font-size:12px;
}

body.account-upgrade .price_column {
	position: relative;
}

.price_table_tag {
	margin-left:12px;
	margin-right:12px;
	padding-bottom:5px;
	text-align:center;
	color:#0FB36C;
	font-size:34px;
	font-weight: 500;
}

body.account-upgrade .price_table_tag {
	color: #0FB36C;
}

.price_table_tag_mth{
	font-size: 11px;
	color: #bbb;
	margin-bottom: 10px;
	font-weight: 500;
}

.plan-keywords {
	font-size: 18px;
	font-weight: 500;
	padding: 0px 0 20px 0;
	text-align: center;
}

div.panel_monitored_keywords .plan-keywords,
div.panel_monitored_keywords .plan-keywords_pl {
	font-size: 15px;
	font-weight: 500;
	padding: 20px 0 20px 0;
	text-align: center;
}

.plan-keywords_pl {
	font-size: 14px;
	font-weight: 500;
	padding: 0px 0 20px 0;
	text-align: center;
}

.plan-keywords i,
.plan-keywords_pl i {
	padding-right: 5px;
	color: #0FB36C;
}

.price_table_desc {
	border-top:dotted 1px #CCCCCC;
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;
	text-align:left;
	font:12px/1.4 Arial,FreeSans,Helvetica,Verdana,sans-serif;
	color:#333;
	min-height:100px;
	border-bottom:dotted 1px #CCCCCC;
}

.price_table_h_desc {
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 0px;
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	color: #232323;
	min-height: 50px;
}

.price_table_h_desc_pl {
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 15px;
	line-height: 24px;
	font-weight: 300;
	color: #666;
	letter-spacing: -0.2px;
	min-height: 140px;
}

.price_table_btn {
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:15px;
	text-align:center;
}

.price_table_item_last {
	margin-left:12px;
	margin-right:12px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
}

.price_table_meta {
	border-bottom:solid 1px #777777;
	margin-left:12px;
	margin-right:12px;
	padding-top:5px;
	padding-bottom:5px;
}


.price_table_column {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#f4f4f4;
	font-weight:500;
	letter-spacing:0px;
	-moz-border-radius: 8px 8px 8px 8px;
	position:relative;
	margin-right:10px;
}

.price_column {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	-moz-border-radius: 8px 8px 8px 8px;
	position:relative;
	margin-right:10px;
}

.price_column_h {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	position:relative;
	border:1px solid #f1f1f1;
	padding-top:15px;
	min-height:360px;
}


.price_column_feat {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	position:relative;
	-webkit-box-shadow: 0px 0px 45px 0px rgba(219,219,219,0.5);
	-moz-box-shadow: 0px 0px 45px 0px rgba(219,219,219,0.5);
	box-shadow: 0px 0px 45px 0px rgba(219,219,219,0.5);
	padding: 25px 0 0 0;
	min-height:360px;
	border: 1px solid #f1f1f1;
}

.price_column_feat .price_table_tag {
	color: #0FB36C !important;
}

.price_column_feat .price_table_sign_btn a {
	color: #fff !important;
	background: #0FB36C;
}


.pricing_features_more_details a.more {
	padding: 25px 0 0px 0;
	display: block;
	color: #717171;
	text-decoration: underline;
	font-weight:400;
}

.price_column_sel {
	color:#000;
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:7px;
	position:relative;
	margin-right:10px;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(219,219,219,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(219,219,219,1);
	box-shadow: 0px 0px 15px 0px rgba(219,219,219,1);
	min-height: 450px;
}

body.account-upgrade .not-available {
	color: #C2C6CF;
	text-decoration: line-through;
}

.price_column_sel .price_table_sign_btn a {
	background: #e7e9ec !important;
	border: none !important;
	color: #fff !important;
}

.price_column_sel .price_table_sign_btn a:hover {
	cursor:default !important;
	background: #e7e9ec !important;
	border: none !important;
	color: #fff !important;
}

.price_column_sel, .price_column_h {
	padding:25px 0 0 0;
}

.price_table_label {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	margin:0 auto;
	width:100%;
	padding:3px 0;
	background-color:#0FB36C;
	moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	-khtml-border-radius:0px 0px 4px 4px;
	border-radius: 4px 4px 0px 0px;
	font-size: 9px;
	font-weight: 600;
	text-transform: uppercase;
	color:#fff;
	text-align:center;

}

.sub_pricing_meta {
	margin: 0 auto;
	width: 700px;
	font-family: 'proximanovalight',Helvetica,Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	line-height: 30px;
	color: #999;
	text-align: center;
	padding: 15px;
}

.sub_pricing_meta span{
	font-family: 'proximanovaBold',Helvetica,Arial;
}

.sub_pricing_meta a {
	color: #000;
}

.price_table_column_meta {
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans",Arial,Verdana,sans-serif;
	font-size: 13px;
	letter-spacing: -1px;
	line-height: 19px;
}



.price_plans_info {
	margin-top:35px;
	margin-bottom:55px;
}

.price_free_plan {
	color: #777777;
	text-align:center;
	font-size:13px;
	font-style:italic;
	font-weight:600;
	padding-top:15px;
}

.price_table_head_sub img {
	vertical-align:middle;
	margin-right:8px;
}

.price_free_plan a{
	color:#B700BB;
}

.feature_definitions {
	margin-top:30px;
	margin-bottom:50px;
	background: #F8F8F9;
	padding:50px 0;
	position: relative;
	z-index: 1;
}

.feature_definitions_item {
	margin-bottom:15px;
	padding-bottom:30px;
}

.feature_definitions_item .feat_heading {
	margin-bottom:15px;
	font-size: 22px;
	color: #000000;
	font-weight:300;
	font-family:'Roboto', Sans-Serif;
}
.feature_definitions_item .feat_text {
	font-size: 15px;
	color: #4E4E4E;
	line-height: 24px;
	font-weight:300;
	font-family:'Roboto', Sans-Serif;
}

.feat_heading {
	color: #222222;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin-bottom:3px;
}

.feat_text {
	color: #666666;
	font: 14px Arial,FreeSans,Helvetica,Verdana,sans-serif;
	font-weight: 300;
	line-height: 1.4;
}


.price_clients {
	margin-bottom:50px;
	margin-top:30px;
}

.price_whitelabel_meta {
	color: #666666;
	font: 300 12px/1.3 Arial,FreeSans,Helvetica,Verdana,sans-serif;
	border-top: 1px dotted #DEDEDE;
	padding-top:10px;
	margin-top:10px;
}

.price_payments {
	margin-top:20px;
}

.price_payments img {
	width:100%;
}

.price_table_plan_promo {
	background:url("../img/price/price_plan_promo.png") no-repeat;
	height: 92px;
	right: -5px;
	position:absolute;
	display: block;
	top: -5px;
	width: 91px;
	z-index: 20;
}

.price_method_pic {
	text-align:center;
}

.price_method_radio {
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color: #333333;
	font: 12pt Arial,FreeSans,Helvetica,Verdana,sans-serif;
	font-weight:bold;
}

.price_method_radio input{

}

.price_method_text {
	color: #333333;
	font: 12px/1.4 Arial,FreeSans,Helvetica,Verdana,sans-serif;
}

.price_method_info {
	margin-top:25px;
	padding-top:25px;
	border-top: 1px dotted #DEDEDE;
	margin-bottom:20px;
	color: #333333;
	font: 12px/1.4 Arial,FreeSans,Helvetica,Verdana,sans-serif;
}

.price_method_btn {
	margin-bottom:50px;
}

.account_until {
	color: #888888;
	font-size: 14px;
	font-weight: 400;
}

.account_until_big {
	color: #111111;
	font-size: 22px;
	font-weight: 700;
}

.rules_main {
	margin-top:25px;
	color: #888888;
	font-size: 12px;
	font-weight: 400;
	letter-spacing:0px;
	text-align:justify;
}

.rules_header {
	color: #888888;
	font-size: 16px;
	font-weight: 700;
	letter-spacing:0px;
	text-transform:uppercase;
}

div.error_form_div
{
	font-size:12px;
	color:#990000;
	font-weight:bolder;
}

.information_text {
	color: #888888;
	font-size: 16px;
	font-weight: 400;
}

.product_info {
	margin-top:30px; margin-bottom:30px;
	color: #666666;
	font-size: 14px;
}

.product_info img { }
.product_info p {text-align:left;}

.product_info ul {
	font-style: italic;
	text-align: left;
	list-style-type: square;
	margin-left: 10px;
}

.product_info ul li {

}

.product_headline {
	border-bottom: 1px dotted #DEDEDE;
	padding-bottom:3px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
	font-weight: 300;
	color:#222222;
	letter-spacing:-1px;
	margin-bottom:12px;
}

.product_headline_main {
	padding-bottom:3px;
	font-family: Arial,Helvetica,sans-serif;
	font-size:4em;
	font-weight:bold;
	color:#555555;
	letter-spacing:-4px;
	margin-bottom:12px;
}

.product_feat_heading {
	font-size:24px;
	letter-spacing: -1px;
	font-weight:bold;
	color:#555555;
}

.product_feat_info {
	font-size:12.7px;
	color:#555555;
	line-height:21px;
}



.product_feats {
	border-top:dotted 1px #CCCCCC;
	padding-top:60px;
	margin-top:40px;
}


div.product_headline img {vertical-align:middle;}

.product_headline h1,h2,h3 {display:inline; vertical-align:middle; }

.product_menu table {
	margin-top:25px;
}

.product_menu table tr {
	height: 30px;
	vertical-align: top;
}

.product_menu a {
	background-color: #333333;
	background-image: none;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0;
	padding: 5px 10px;
	text-decoration: none;
	margin-right:25px;
	height:30px;
}

.feature_headline_main {
	padding-bottom:3px;
	font-family: "proximanovabold",Arial,Helvetica,sans-serif;
	font-size:6em;
	line-height:50px;
	color:#ffffff;
	letter-spacing:-2px;
	margin-bottom:12px;
}

.text_description
{
	color:#888888;
	font-style:italic;

}

.info_clients {
	padding-bottom:14px;
	margin-bottom:20px;
}

.feat_info_heading {
	font-size: 20px;
	color: #363f48;
	line-height: 1.45;
	font-family: "proximanovaregular",sans-serif;
	font-weight:normal !important;
	margin-bottom:3px;
}

.feat_info_text {
	color: #363f48;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
	line-height: 22px;
}

.media_about {
	padding-bottom:50px;
}

.info_headline {
	border-bottom: 1px dotted #DEDEDE;
	padding-bottom:3px;
	font-size: 15px;
	font-weight: bold;
	color:#222222;

	margin-bottom:12px;
}

.feat_controls {
	background-color:#ffffff;
	height:15px;
	margin:0 auto;
}

.main_feature_sub {
	margin:0 auto;
	background-color:#ffffff;
}

@media all and (max-width:800px) {
	.main_feature_sub {
		overflow-x: hidden;
	}

	.main_feature_sub .clients img {
		max-width: 100% !important;
	}
}

.testimonial_head {
	font-size: 15px;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(244, 244, 244, 0.1);
	margin-bottom:3px;
	color:#333333;
	margin-top:12px;
}

.testimonial_head span {
	font-weight:normal;
	color:#444444;
}

.testimonial_text {
	color: #888888;
	font-family: 'pt sans',arial,helvetica,sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin-top:4px;
}

.user_role_check {
	margin-bottom:10px;
}

.users_role_head {
	font-size:13px;
	font-weight:500;
	height:30px;
}

.user_role_desc {
	text-align:center;
	font-weight:normal;
	font-size:10px;
	margin-top:15px;
	border-top:dotted 1px #ededed;
	padding-top:4px;
	color:#666;
}


.info_clients_site img {
	max-width:220px;
}

.info_clients_site table {
	margin-bottom:30px;
}

#newsletter_form_result {
	font-size: 16px;
	font-family: 'Oswald',sans-serif;
	text-transform: uppercase;
	color:#0dafee;
	padding-bottom:10px;
	height:25px;
}

.right_text { text-align: center; color:#666666;}


div#socialmedia_tab{
	position: fixed;
	right:0px;
	top:100px;
	z-index:5000;
}

#socialmedia_tab a {
	display:block;
	/*Edit these to change the look of your tab*/
	border:none;
	margin-top:0px;
}

.socialmedia_tab_item {
	margin-bottom:10px;
}


.prod_menu {
	padding-top:34px;
}

.prod_menu p.right_text { display:none; }

.prod_menu_item {
	margin-bottom:10px;
	border-bottom:dotted 1px #eeeeef;
}

.prod_menu_item img {
	width:30px;
	vertical-align:middle;
}

.prod_menu_item a {
	font-size: 15px;
	color:#333;
}

.prod_menu_item a:hover {
	text-decoration:none;
}

.product_others {
	margin-bottom:30px;
}

.product_others li {
	background-color: #f9f9f9;
	background-image: none;
	border-radius: 5px 5px 5px 5px;
	color: #666666;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0;
	padding: 5px 10px;
	text-decoration: none;
	display:table-cell;
	height:30px;
	margin-bottom:10px;
	margin-right:10px;
	list-style:none;
}

.product_headline a {
	color: #222222;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: -1px;
}

.product_headline a:hover {
	text-decoration:none;
}

#help_search_box {
	background: #fff;

	padding: 5px 10px;
	max-height: 400px;
	overflow: auto;

	position: absolute;
	z-index: 99;

	border: 1px solid #A9A9A9;
	border-width: 0 1px 1px 1px;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#search_input {font-size:24px; padding:5px; border: 1px solid #666666; width:350px; }

div#pdf_tab{
	position: fixed;
	right:0;
	top:0;
	z-index:5000;
}

#pdf_tab a {
	display:block;
	/*Edit these to change the look of your tab*/
	border:none;
	margin-top:0px;
}

#pdf_tab a:hover{
	border-color: orange;
}

#vote_item {
	margin-top:10px;
	padding:5px;
	float:right;
	width:160px;
	text-align:center;
	background-color:#f0f0f0;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-weight:500;
	font-size:12px;
}

.headline_dark {
	color: #212121;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
	font-size: 40px;
	font-weight: 300;
	line-height: 38px;
	margin-top: 10px;
}

.beta_input {
	position: relative;
	width: 320px;
	margin-top:15px;
	height:60px;

}


.input_single {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom-left-radius: 4px;
	border-color: #CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
	border-style: solid none solid solid;
	border-top-left-radius: 4px;
	border-width: 1px 0 1px 1px;
	float: left;
	font-size: 14px;
	height: 15px;
	outline: medium none;
	padding: 13px 25px 12px 15px;
	width: 190px;
}

#beta-signup {
	background: none repeat scroll 0 0 #512766;
	border: 0 none;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: 500;
	height: 42px;
	padding-bottom: 2px;
	width: 86px;
}


.beta_input_black {
	position: relative;
	width: 420px;
	margin-top:15px;
	height:80px;

}

.input_single_black {

	background: none repeat scroll 0 0 #111111;
	color:#FFFFFF;
	border-bottom-left-radius: 4px;
	border-color: #000000 #0dafee #000000 #000000 !important;
	border-style: solid none solid solid;
	border-top-left-radius: 4px;
	border-width: 1px 0 1px 1px;
	float: left;
	font-size: 16px;
	font-family: 'Oswald',sans-serif;
	text-transform:uppercase;
	height: 35px;
	outline: medium none;
	padding: 13px 25px 12px 15px;
	width: 270px;
}


#beta-signup_black {
	background: none repeat scroll 0 0 #0dafee;
	border: 0 none;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	color: #FFFFFF;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: 500;
	height: 62px;
	padding-bottom: 2px;
	width: 106px;
}

.bl_header {
	width:100%;
	display:table;
	color:#CCCCCC;
	text-transform:uppercase;
	font-size:10px;
	margin-bottom:50px;
}

.bl_header img {
	vertical-align:middle;
	margin-right:5px;
	height:14px;
}

.bl_header_side {
	display:table-cell;
	width:auto;
	vertical-align:middle;
}

.bl_header_side_in {
	display:table;
	border-top:dotted #CCC 1px;
	width:100%;
	margin-top:1px;
}

.bl_header_center {
	display:table-cell;
	text-align:center;
	width:100px;
}

dl{
	text-align:left;
	margin-top: 10px;
}
dl dt{
	color: #222222;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: 300;
	display: inline;
}
dl dd{
	display: inline;
	color: #666666;
	font: 14px Arial,FreeSans,Helvetica,Verdana,sans-serif;
	font-weight: 300;
	line-height: 1.4;
}

.payments-details ​*, .setup-your-monitoring *​, .registry_form_personal * {
	box-sizing: content-box !important;
}

#progressyt {
	position: fixed;
	z-index: 2147483647;
	top: 0px;
	left: -6px;
	width: 1%;
	height: 4px;
	background: #0FB36C;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-transition: width 500ms ease-out,opacity 400ms linear;
	-ms-transition: width 500ms ease-out,opacity 400ms linear;
	-o-transition: width 500ms ease-out,opacity 400ms linear;
	-webkit-transition: width 500ms ease-out,opacity 400ms linear;
	transition: width 500ms ease-out,opacity 400ms linear;
}


body.anniversary #progressyt {
	background: rgb(158,15,46) !important;
	background: -moz-linear-gradient(-90deg,  rgba(158,15,46,1) 0%, rgba(64,42,102,1) 100%) !important;
	background: -webkit-linear-gradient(-90deg,  rgba(158,15,46,1) 0%,rgba(64,42,102,1) 100%) !important;
	background: linear-gradient(-90deg,  rgba(158,15,46,1) 0%,rgba(64,42,102,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0f2e', endColorstr='#402a66',GradientType=1 ) !important;
}


.login-link {
	position: absolute;
	right: 20px;
	top: 20px;
}

.btn-outline-login {
	padding: 8px 16px;
	border-radius: 4px;
	color: #444;
	border: solid 1px #444444;
	margin-left: 10px;
}

.btn-outline-login:hover {
	background:#0FB36C;
	color:#fff;
	border:1px solid #0FB36C;
}


/****** NEW HEADER ******/

header.header {
	padding-bottom: 120px;
	background-color: #000;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}

.header h1 {
	font-size: 40px;
	color: #FFFFFF;
	line-height: 47px;
	font-weight: 300;
	padding: 100px 0 10px 0;
	text-shadow: 1px 1px 6px #000;
}

.header h2 {
	font-weight: 300;
	font-size: 22px;
	line-height: 44px;
	color: #bcbdbf;
	position: relative;
	width: 100%;
	text-shadow: 1px 1px 6px #000;
	padding-bottom: 20px;
}

@media all and (max-device-width:416px) {
	.header h1 {
		font-size: 32px !important;
		line-height: 37px !important;
		font-weight: 500 !important;
		padding: 40px 0 30px 0 !important;
	}
	.header h2 {
		font-weight: 400 !important;
		font-size: 20px !important;
		line-height: 28px !important;
	}
}

.hero-description {
	font-weight: 300;
	font-size: 18px;
	color: #B3B9C6;
	line-height: 27px;
	margin-bottom: 50px;
	text-align: center !important;
}

header.header .btn-cta, .item-description .btn-cta {
	background: #0FB36C;
	color: #fff;
	font-size: 13px;
	padding:15px 30px;
	border-radius: 4px;
	clear: both;
	margin: 10px auto 0 auto!important;
	width: auto;
	text-transform: uppercase;
	font-weight: 400;
}

/****** CUSTOMER SUBPAGE HEADER ******/


body.customers .header {
	padding-bottom: 80px;
	background: url(../img/customers-header.jpg);
	background-size: cover;
	background-position: center center;
}

body.customers .header .btn-cta {
	background-color: #0FB36C !important;
	color: #fff !important;
	border: none !important;
}



/****** NEW DIALBOXES FOR PRICES PAGE ******/

body.prices .ui-widget-content {
	font-size: 14px !important;

}

body.prices .ui-widget-header {
	background:none !important;
	border: none !important;
	border-bottom: 1px solid #e2e2e2;
	border-radius: 0 !important;
}

body.prices .ui-dialog .ui-dialog-titlebar-close {
	background: url('/static/js/new/jquery-ui/images/ui-dialog-close.png') no-repeat;
	background-position: center center;
	border: none !important;
}

body.prices .ui-dialog .ui-dialog-buttonpane button {
	border-radius: 3px !important;
	padding: 6px 12px !important;
}

body.prices .ui-dialog-buttonset {
	width: auto !important;
	display: block !important;
	margin: 0 auto !important;
	float: none !important;
}

body.prices .ui-dialog .ui-dialog-buttonpane button:first-child  {
	background:#0FB36C !important;
	border: none !important;
	color: #fff !important;
	display: block !important;
	margin: 15px auto !important;
}

body.prices .ui-dialog .ui-dialog-buttonpane button:last-child  {
	background:#fff !important;
	border-bottom: #0FB36C solid 1px !important;
	border-radius: 0 !important;
	color: #0FB36C !important;
	display: block !important;
	margin: 0 auto !important;
}


body.prices .ui-tooltip {
	font-size: 11px !important;
}

.wrong-data {
	width: 100%;
	padding: 5px;
	background: #ffeff3 ;
	border-radius: 3px;
	margin-bottom: 10px;
	display: inline-block;
}

body.signup ul.slides {
	height: 50px;
	overflow: hidden;
}


body.prices header.header {
	background: #fff !important;
	border-bottom:1px solid #e3e3e3;
}

body.prices header.header a {
	color: #000;
}

body.prices header.header nav .logo {
	display: none;
}

body.prices header.header nav .logo2 {
	display: block;
}

body.prices .panel-faq {
	border:solid 1px #e3e3e3;
	font-size: 14px;
	line-height:24px;
	font-weight:300;
	margin-bottom: 20px;
}

body.prices .panel-faq .panel-heading {
	padding: 15px 5px 15px 50px;
	background: url('/static/img/questionmark.svg') 15px center no-repeat;
	font-size:18px;
}

body.prices .panel-faq .panel-heading a {
	width:100%;
	display: block;
}

body.prices .panel-faq .in {
	border-bottom: 2px solid #0FB36C;
}

body.prices .panel-faq .panel-body {
	padding: 15px 25px 15px 50px;
	font-size: 16px;
	line-height: 32px;
}

body.prices .panel-faq .panel-body img {
	clear: both;
	padding: 30px 0;
	float: none;
	display: block;
}

body.prices .panel-body {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

body.prices .faq h3 {
	font-weight: 300;
	font-size: 32px !important;
	color: #3B4349 !important;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 25px;
}

body.prices .faq h3::after {
	width:30px;
	height:1px;
	background:#0FB36C;
	left:0%;
	bottom:0;
	position: absolute;
	content: '';
}

body.prices .clients img {
	opacity:0.3;
	alpha:30%;
}

@media all and (max-device-width: 468px) {
	h4.panel-title {
		font-size: 14px;
	}

	.feature_definitions {
		padding-left:30px;
		padding-right:30px;
	}
}

.tooltip-white + .tooltip > .tooltip-inner {
	background-color: #fff;
	color: #717171;
	border-top: 2px solid #0FB36C;
	-webkit-box-shadow: 0px 0px 45px 0px rgba(219,219,219,1);
	-moz-box-shadow: 0px 0px 45px 0px rgba(219,219,219,1);
	box-shadow: 0px 0px 45px 0px rgba(219,219,219,1);
	padding:8px !important;
}
.tooltip-white + .tooltip > .tooltip-arrow { border-bottom-color: #0FB36C !important; }

.ui-widget-overlay,
.ui-dialog {
	z-index: 9999999 !important;
}